In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
tweetDf = pd.read_csv('../Data/tweets/elon_archive_cleaned.csv')
btcDf = pd.read_csv('../Data/crypto/bitcoinAll_1HR.csv')
dogeDf = pd.read_csv('../Data/crypto/dogecoinAll_1HR.csv')

In [15]:
btcDf

,time_period_start,time_period_end,time_open,time_close,rate_open,rate_high,rate_low,rate_close
0,2016-01-01T00:00:00.0000000Z,2016-01-01T01:00:00.0000000Z,2016-01-01T00:09:00.0000000Z,2016-01-01T00:59:00.0000000Z,432.039880,432.079724,430.174245,430.831630
1,2016-01-01T01:00:00.0000000Z,2016-01-01T02:00:00.0000000Z,2016-01-01T01:00:00.0000000Z,2016-01-01T01:59:00.0000000Z,430.821040,431.181942,429.670276,430.378803
2,2016-01-01T02:00:00.0000000Z,2016-01-01T03:00:00.0000000Z,2016-01-01T02:00:00.0000000Z,2016-01-01T02:59:00.0000000Z,430.383656,431.237817,430.325129,430.608821
3,2016-01-01T03:00:00.0000000Z,2016-01-01T04:00:00.0000000Z,2016-01-01T03:00:00.0000000Z,2016-01-01T03:59:00.0000000Z,430.594263,432.903554,430.330866,432.903554
4,2016-01-01T04:00:00.0000000Z,2016-01-01T05:00:00.0000000Z,2016-01-01T04:00:00.0000000Z,2016-01-01T04:59:00.0000000Z,433.020607,436.372214,432.770797,435.602850
...,...,...,...,...,...,...,...,...
51523,2021-11-16T19:00:00.0000000Z,2021-11-16T20:00:00.0000000Z,2021-11-16T19:00:00.0000000Z,2021-11-16T19:59:00.0000000Z,60059.726999,60597.937655,59860.620778,60178.925251
51524,2021-11-16T20:00:00.0000000Z,2021-11-16T21:00:00.0000000Z,2021-11-16T20:00:00.0000000Z,2021-11-16T20:59:00.0000000Z,60247.873827,60247.873827,59244.540198,59616.827192
51525,2021-11-16T21:00:00.0000000Z,2021-11-16T22:00:00.0000000Z,2021-11-16T21:00:00.0000000Z,2021-11-16T21:59:00.0000000Z,59659.826591,60925.977184,59659.826591,60474.688983
51526,2021-11-16T22:00:00.0000000Z,2021-11-16T23:00:00.0000000Z,2021-11-16T22:00:00.0000000Z,2021-11-16T22:59:00.0000000Z,60507.270616,61053.389239,60487.196472,60622.955735
51527,2021-11-16T23:00:00.0000000Z,2021-11-17T00:00:00.0000000Z,2021-11-16T23:00:00.0000000Z,2021-11-16T23:59:00.0000000Z,60623.400668,60649.795288,60140.947374,60140.947374